.root{
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form input {
  margin-bottom: 10px;
}

.submit{
  cursor: pointer;
}